body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.header-inner {
    margin-bottom: 22px;
}

.header-top__wrapper {
    width: 100%;
    background-color: #293449;
}

.header-top {
    position: relative;

    display: flex;
    justify-content: flex-end;

    font-size: 17px;
    line-height: 18px;
} 

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top__logo {
    position: absolute;
    top: 0;
    left: 10px;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;

    width: 110px;
    padding-top: 13px;
    padding-right: 55px;
    padding-bottom: 15px;
    padding-left: 55px;
}

.logo:hover{
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ca2c37;
}

.logo:focus {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ba2732;
}

.header-top__search-form{
    position: relative;

    width: 270px;
}

.header-top__search-icon {
    position: absolute;

    top: 12px;
    left: 17px;

    opacity: 0.3;
}

.header-top__search-label{ 
    width: 270px;
    min-height: 42px;
}

.header-top__search-input:hover + .header-top__search-icon,
.header-top__search-input:focus + .header-top__search-icon {
    opacity: 1;
}

.header-top__search-input {
    box-sizing: border-box;

    padding: 12px 72px 12px 49px;

    font: inherit;

    background-color: transparent;
    border: none;
}

.header-top__search-input::placeholder {
    color: #ffffff;
    font: inherit;
}

.header-top__search-form:hover,
.notification-link:hover {
    background-color: #212a3a;
}

.header-top__search-input:focus,
.header-top__search-input:active {
    background-color: #ffffff;
    color: #000000;
}

.header-top__search-input:focus + .header-top__search-icon .header-top__search-icon__color {
    fill: #ee3643;
    opacity: 1;
    z-index: 200;
}

.button {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;

    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}

.header-top__button {
    position: relative;

    background-color: #293449;

    width: 150px;
    padding-left: 35px;
}

.header-top__button:hover {
    background-color: #212a3a;
}

.header-top__button:focus {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.header-top__button-full {
    background-color: #ee3643;
}

.header-top__button:last-child {
    background-color: #63a63e;
    padding: 0;
}

.header-top__button:last-child:hover {
    background-color: #5fbb2d;
}

.header-top__button:last-child:focus{
    background-color: #518534;
}

.header-top__button-bookmark:before {
    content: " ";
    position: absolute;
    top: 25%;
    left: 17px;

    width: 14px;
    height: 16px;

    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;

    opacity: 0.3;
}

.header-top__button-cart:before,
.catalog-item__action-buy:before {
    content: " ";
    position: absolute;
    top: 25%;
    left: 17px;

    width: 15px;
    height: 15px;

    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;

    opacity: 0.3;
}

.header-top__button-bookmark:hover:before,
.header-top__button-cart:hover:before,
.catalog-item__action-buy:hover:before,
.catalog-item__action-buy:focus:before {
    opacity: 1;
}

.header-top__button-bookmark:focus,
.header-top__button-cart:focus {
    opacity: 0.5;
}

.header-middle__wrapper {
    width: 100%;
    background-color: #f4f7f9;
}

.header-middle{
    position: relative;

    display: flex;

    font-size: 21px;
    line-height: 21px;

    padding-top: 45px;
    padding-bottom: 156px;
}

.header-middle__title {
    margin: 0;

    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    white-space: pre-line;
    color: #ee3643;

    width: 198px;

    padding: 0 51px;
}

.header-middle__contacts {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    width: 300px;
    margin-right: 40px;
}

.header-middle__phone-link {
    position: relative;
    display: block;
    margin: 0 15px;

    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    width: 144px;
    padding: 10px 49px 8px 71px;
    border: solid 3px #ffffff;
}

.header-middle__phone-link:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 15px;

    width: 19px;
    height: 19px;

    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
}

.header-middle__address {
    margin: 0;
    padding-top: 8px;
}

.header-middle__user-navigation {
    display: flex;
    justify-content: flex-end;

    width: 300px;
}

.user-button {
    color: #000000;
    background-color: #ffffff;

    max-width: 150px;
    padding: 11px 25px 12px 25px;
}

.user-button__login {
    position: relative;

    margin-right: 10px;
    padding-left: 48px;
}

.user-button__login-icon {
    content: " ";
    position: absolute;
    top: 13px;
    left: 14px;
}

.user-button:hover {
    color: #ee3643;
}

.user-button:focus {
    color: rgba(0, 0, 0, 0.3);
}

.header-middle__user-profile {
    position: relative;
}

.header-middle__user-name {
    position: relative;

    display: block;

    width: 213px;

    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;

    padding: 12px 0 12px 47px;
}

.user-button__user-icon {
    position: absolute;
    top: 13px;
    left: 14px;
}

.header-middle__logout {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: -40px;

    width: 40px;
    height: 45px;

    background-color: #ffffff;
}

.header-middle__user-name:hover .user-button__user-icon__color,
.header-middle__logout:hover .user-button__logout-icon__color,
.user-button__login:hover .user-button__login-icon__color  {
    fill: #32425c;
}

.header-middle__user-name:focus .user-button__user-icon__color,
.header-middle__logout:focus .user-button__logout-icon__color,
.user-button__login:focus .user-button__login-icon__color {
    fill: #c5c5c5;
}

.header-middle__user-name:focus {
    color: rgba(0, 0, 0, 0.3);
}

.header-middle__user-setting {
    margin: 0;

    display: flex;

    padding-left: 19px;
    padding-top: 8px;
}

.user-setting__item:first-child {
    list-style: none;
}

.user-setting__item {
    min-width: 105px;

    color:#32425c;
}

.user-setting__link {
    text-decoration: underline;
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
}

.user-setting__link:hover{
    color: #ee3643;
}

.user-setting__link:focus {
    color: rgba(50, 66, 92, 0.3);
}

.navigation-header {
    position: absolute;
    top: 200px;

    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    width: 940px;
    margin: 0 auto;
}

.navigation-header__items,
.navigation-footer__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.navigation-header__items,
.header-middle__user-navigation,
.main-promo__list,
.main-promo__slider-controls,
.main-promo__slider-list,
.main-popular__catalog-list,
.main-brands__catalog-list,
.main-services__list,
.main-company__list,
.inner-main__breadcrumbs,
.filter__items,
.inner-main__catalog-list,
.inner-main__pagination-list,
.navigation-footer__items,
.footer-bottom__social-link {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-header__link,
.navigation-footer__link {
    display: block;
    color: #ffffff;
}

.navigation-header__link{
    padding: 21px 25px;
}

.navigation-header__item:first-child {
    padding-left: 25px;
}

.navigation-header__item:last-child {
    padding-right: 25px;
}

.navigation-header__link:hover,
.navigation-header__link:focus {
    background-color: #293449;
}

.navigation-header__link:focus {
    color: rgba(255, 255, 255, 0.5)
}

.main {
    color: #000000;
}

.main-promo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 53px;
}

.main-promo__list-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-promo__list-block__left {
    width: 620px;
}

.main-promo__list-block__right {
    width: 300px;
}

.main-promo__list-item {
    position: relative;

    width: 160px;
    height: 123px;
    padding-right: 140px;

    margin-bottom: 20px;
}

.main-promo__list-item:last-child {
    margin-bottom: 0;
}

.main-promo__list-item__material {
    background-color: #ffbf47;
}

.main-promo__list-item__material:before{
    content: "";

    position: absolute;
    top: 31px;
    right: 43px;

    width: 44px;
    height: 65px;

    background: url(../img/icon__section-material.svg) no-repeat 0 0;
}

.main-promo__list-item__tool {
    background-color: #3bbce3;
}

.main-promo__list-item__tool:before {
    content: "";

    position: absolute;
    top:33px;
    right: 28px;

    width: 75px;
    height: 61px;

    background: url(../img/icon__section-tool.svg) no-repeat 0 0
}

.main-promo__list-item__technics {
    background-color: #dc91d8;
}

.main-promo__list-item__technics:before {
    content: "";

    position: absolute;
    top:31px;
    right: 31px;

    width: 78px;
    height: 62px;

    background: url(../img/icon__section-technics.svg) no-repeat 0 0
}

.main-promo__list-item__discount {
    background-color: #8ed78f;
}

.main-promo__list-item__discount:before {
    content: "";

    position: absolute;
    top:26px;
    right: 45px;

    width: 59px;
    height: 72px;

    background: url(../img/icon__section-discount.svg) no-repeat 0 0
}

.main-promo__list-item__delivery {
    background-color: #ffc047;
}

.main-promo__list-item__delivery:before {
    content: "";

    position: absolute;
    top:32px;
    right: 31px;

    width: 78px;
    height: 63px;

    background: url(../img/icon__section-delivery.svg) no-repeat 0 0;
}

.main-promo__list-item__title {
    margin: 0;

    color: #ffffff;
    font-size: 24px;
    line-height: 30px;

    padding: 20px 20px 12px 20px;
}

.main-promo__list-item__link {
    width: 135px;

    margin-left: 25px;
    margin-bottom: 22px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);

    border-radius: 2px;
}

.main-promo__list-item__link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.main-promo__list-item__link:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.main-promo__list-item__new-flag {
    position: absolute;
    top: 0;
    right: 0;

    width: 60px;
    height: 60px;
}

.main-promo__slider {
    position: relative;

    height: 266px;;
}

.main-promo__slider-title {
    margin: 0;

    position: absolute;
    top: 20px;
    left: 24px;

    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.main-promo__slider-text {
    position: absolute;
    top: 60px;
    left: 24px;

    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

.main-promo__slider-button {
    position: absolute;

    width: 195px;
    left: 25px;
    bottom: 22px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;

    border-radius: 2px;
}

.main-promo__slider-button:hover {
    background-color: #ca2c37;
}

.main-promo__slider-button:focus {
    background-color: #ba2732;
}

.main-promo__slider-switch__right {
    position: absolute;
    top: 114px;
    left: 30px;

    width: 29px;
    height: 29px;

    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    transform: rotate(45deg);
}

.main-promo__slider-switch__left {
    position: absolute;
    top: 114px;
    right: 25px;
    
    width: 29px;
    height: 29px;

    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transform: rotate(45deg);
}

.main-promo__slider-controls {
    position: absolute;
    
    display: flex;

    bottom: 39px;
    left: 295px;
    line-height: 0;

    z-index: 1000;
}

.main-promo__slider-control__input + .main-promo__slider-control__input-new {
    position: relative;

    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
  
    vertical-align: middle;
  
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.main-promo__slider-control__input:checked + .main-promo__slider-control__input-new:before {
    content: "";

    position: absolute;
    bottom: 2px;
    left: 2px;

    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: #ee3643;
}

.main-promo__slider-perforator {
    display: none;
}

.main-popular__title-block,
.main-brands__title-block {
    display: flex;
    justify-content: space-between;

    width: 885px;
    padding: 25px 25px 26px 30px;
    margin-bottom: 20px;

    background-color: #f9f5f0;
}

.main-popular__title,
.main-brands__title {
    margin: 0;
    padding: 4px 0;

    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}

.main-popular__button,
.main-brands__button {
    width: 253px;

    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    text-transform: uppercase;
    border-radius: 2px;
}

.main-popular__catalog-list,
.main-brands__catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.main-brands__catalog-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

    width: 218px;
    height: 143px;
    border: solid 1px #eaeaea;
}

.main-brands__catalog-item:nth-child(4n){
    margin-right: 0;
}

.main-brands__catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.main-brands__catalog-item:focus {
    opacity: 0.5;
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.main-brands {
    margin-bottom: 65px;
}

.main-services {
    background-color: #f4f7f9;
}

.main-services__wrapper {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 80px;
    padding-bottom: 100px;
}

.main-services__description {
    width: 100%;
    margin-top: 65px;
    margin-bottom: 65px;
}

.main-services__description-title {
    margin: 0;
    padding-bottom: 23px;

    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-services__description-text,
.main-services__service-text {
    margin: 0;
    font-size: 13px;
    line-height: 24px;

    white-space: pre-line;
}

.main-services__list {
    position: relative;

    width: 240px;
}

.main-services__list-item {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    background-color: #32425c;
    box-shadow: 0px 1px 0 0 #293449, 
                inset 0px 1px 0 0 #405069;
}

.main-services__list-item__link {
    display: block;

    font:inherit;
    color: #ffffff;
    
    padding: 16px 0px 16px 23px;
}

.main-services__list-item__link-current {
    color: #32425c;
    background-color: #ffffff;
    box-shadow: 0px 1px 0 0 #ffffff, 
                inset 0px 1px 0 0 #ffffff;
}

.main-services__list-item__link:hover {
    background-color: #293449;
}

.main-services__list-item__link:active {
    color: #32425c;
    background-color: #ffffff;
    box-shadow: 0px 1px 0 0 #ffffff, 
                inset 0px 1px 0 0 #ffffff;
}

.main-services__list:before {
    content: "";
    position: absolute;
    top: -46px;
    right: 0;

    width: 10px;
    height: 279px;
    background: url(../img/shadow.png) no-repeat 0 0;
}

.main-services__service {
    position: relative;

    width: 380px;
    padding-left: 80px;
    padding-right: 240px;
}

.main-services__service-title {
    margin: 0;
    padding-bottom: 30px;

    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}

.main-services__delivery {
    position: absolute;
    z-index: 100;
}

.main-services__quarantee {
    display: none;
    position: absolute;
    z-index: 10;
}

.main-services__credit {
    display: none;
    position: absolute;
    z-index: 1;
}

.main-services__delivery:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 150px;

    width: 468px;
    height: 261px;

    background: url(../img/delivery.png) 0 0 no-repeat;
}

.main-services__quarantee:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 150px;

    width: 389px;
    height: 283px;

    background: url(../img/quarantee.png) 0 0 no-repeat;
}

.main-services__credit:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 150px;

    width: 465px;
    height: 285px;

    background: url(../img/credit.png) 0 0 no-repeat;
}

.company-contacts__wrapper {
    display: flex;
    justify-content: space-between;
}

.main-company {
    width: 550px;
}

.main-contacts {
    width: 300px;
}

.main-company__title,
.main-contacts__title {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;

    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-company__text,
.main-contacts__text {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    white-space: pre-line;
}

.main-company__text,
.main-contacts__text,
.main-contacts__map {
    margin: 0;
}

.main-company__text-padding {
    padding-bottom: 24px;
}

.main-company__list {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 37px;
}

.main-company__list-item {
    list-style-type: none;
    padding-bottom: 21px;
}

.main-company__list-item:last-child {
    padding-bottom: 0;
}

.main-company__list-item:before {
    display: inline-block;

    content: "";
    background-color: #ee3643;
    width: 25px;
    height: 2px;
    vertical-align: middle;
}

.main-company__link,
.main-contacts__link {
    display: block;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;

    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}

.main-company__link {
    width: 220px;

    white-space: nowrap;
}

.main-contacts__map {
    display: block;

    padding-top: 30px;
    padding-bottom: 35px;
}

.main-contacts__button {
    width: 100%;
}

.inner-container {
    font-family: "Cuprum", Arial, sans-serif;
    color: #000000;
}

.inner-main__breadcrumbs {
    margin-bottom: 20px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    line-height: 18px;
}

.inner-main__breadcrumbs-link {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.inner-main__breadcrumbs-item {
    position: relative;

    margin-right: 42px;
}

.inner-main__breadcrumbs-item::after {
    content: "";

    position: absolute;
    top: 0;
    right: -25px;

    width: 10px;
    height: 10px;

    border-top: 2px solid #c5c9d1;
    border-right: 2px solid #c5c9d1;
    transform: rotate(45deg);
}

.breadcrumbs-current:after {
    display: none;
}

.inner-main__title {
    margin: 0;
    padding: 0;

    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    background-color: #f2f6f8;
    text-transform: uppercase;

    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;

    margin-bottom: 20px;
}

.inner-main__catalog-wrapper {
    display: flex;
    justify-content: space-between;
}

.filters {
    font-family: "PTSans", Arial, sans-serif;
    width: 220px;
}

.filters__title {
    margin: 0;
    width: 184px;
    padding: 10px 18px;

    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #f7f3ec;

    border-radius: 5px;
}

.filter__form {
    padding: 0;
    margin: 0;
    border:none;

    border-bottom: 1px solid #e5e5e5;
}

.filter__form-supply {
    margin-bottom: 59px;
    border: none;
}

.filter__title {
    padding-top: 12px;
    padding-bottom: 13px;

    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter__controls-range {
    position: relative;

    height: 41px;
    margin-bottom: 10px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    
    background-color: #f7f3ec;

    border-radius: 5px;
}

.filter__controls-range__scale {
    height: 2px;

    background-color: #d7dcde;
}

.filter__controls-range__scale-bar {
    width: 80%;
    height: 2px;

    background-color: #00ca74;
}

.filter__controls-range__toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;

    cursor: pointer;
}

.filter__controls-range__toggle-min {
    left: 18px;
}

.filter__controls-range__toggle-max {
    left: 160px;
}

.filter__controls-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0;

    padding-bottom: 25px;
}

.filter__controls-price__input-min,
.filter__controls-price__input-max {
    width: 75px;
    padding: 10px;

    font-size: 17px;
    text-align: center;

    border: none;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.filter__controls-price__dash {
    width: 10px;
    height: 1px;
    border-top: 1px solid #444444;
}

.filter__item {
    margin-bottom: 16px;
    padding-left: 35px;
}

.filter__item:last-child{
    margin-bottom: 21px;
}

.filter__item-label {
    position: relative;

    display: block;
    vertical-align: middle;

    cursor: pointer;
    user-select: none;

    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;

    padding: 2px 0;
}

.filter__item-input__checkbox + .input__new-checkbox {
    position: absolute;
    left: -35px;

    width: 21px;
    height: 21px;

    border: 2px solid #c5c5c5;
    border-radius: 2px;
}

.filter__item-input__checkbox:checked + .input__new-checkbox:before {
    content: "";

    position: absolute;
    left: 4px;

    width: 18px;
    height: 7px;

    border-left: 4px solid #c5c5c5;
    border-bottom: 4px solid #c5c5c5;
    transform: rotate(-45deg);
}

.filter__item-input__radio + .input__new-radio {
    position: absolute;
    left: -35px;

    width: 17px;
    height: 17px;

    border: 4px solid #c5c5c5;
    border-radius: 100%;
}

.filter__item-input__radio:checked + .input__new-radio:before {
    content: "";

    position: absolute;
    left: 4px;
    top: 4px;

    width: 5px;
    height: 5px;

    border: 2px solid #c5c5c5;
    background-color: #c5c5c5;
    border-radius: 100%;
}

.filter__item-input__checkbox:hover + .input__new-checkbox,
.filter__item-input__checkbox:hover + .input__new-checkbox:before,
.filter__item-input__radio:hover + .input__new-radio,
.filter__item-input__radio:hover + .input__new-radio:before {
    border-color: #b5b5b5;
}

.filter__item-input__radio:hover + .input__new-radio:before {
    background-color: #b5b5b5;
}

 .filter__item-input__checkbox:disabled ~ .filter__item-input__text,
 .filter__item-input__radio:disabled ~ .filter__item-input__text {
    color: rgba(0, 0, 0, 0.4);
}


.filter__item-input__checkbox:disabled + .input__new-checkbox,
.filter__item-input__checkbox:disabled + .input__new-checkbox:before,
.filter__item-input__radio:disabled + .input__new-radio,
.filter__item-input__radio:disabled + .input__new-radio:before {
    opacity: 0.3;
}

.filter__button {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    width: 140px;
    padding: 11px 39px 12px 39px;
    border: solid 1px #e5e5e5;
}

.inner-main__catalog {
    width: 700px;
}

.inner-main__catalog-sorting {
    display: flex;
    justify-content: space-between;

    width: 664px;
    margin-bottom: 20px;
    padding: 10px 18px;

    font-family: "PTSans", Arial,  sans-serif;

    background-color: #f7f3ec;
    border-radius: 5px;
}

.inner-main__catalog-sorting__title {
    margin: 0;

    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.inner-main__catalog-sorting__button {
    border: none;
    padding: 0;
    background-color: transparent;

    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);

    padding-right: 65px;
}

.inner-main__catalog-sorting__button:last-child {
    padding-right: 25px;
}

.inner-main__catalog-sorting__button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.inner-main__catalog-sorting__button-text {
    border-bottom: 1px dashed #ee3643;
}

.inner-main__catalog-sorting__button:hover {
    color: #000000;
}

.inner-main__catalog-sorting__button:hover .inner-main__catalog-sorting__button-text {
    border-bottom: 1px solid #ee3643;
}

.inner-main__catalog-sorting__button:active {
    color: #ee3643;
}

.inner-main__catalog-sorting__button:active .inner-main__catalog-sorting__button-text {
    border-bottom: none;
}

.inner-main__catalog-sorting__arrow {
    border: none;
    background-color: transparent;

    width: 0;
    height: 0;
    padding: 0;

    border: 6px solid #c5c5c5;
    border-right-color: transparent;
    border-left-color: transparent;

    margin-left: 20px;
}

.inner-main__catalog-sorting__arrow-wrapper {
    display: flex;
    align-items: center;
}

.inner-main__catalog-sorting__arrow-top {
    border-top-width: 0;
    border-bottom-width: 10px;
}

.inner-main__catalog-sorting__arrow-bottom {  
    border-bottom-width: 0;
    border-top-width: 10px;
}

.inner-main__catalog-sorting__arrow:hover  {
    border-color: #231f20;
    border-right-color: transparent;
    border-left-color: transparent;
}

.inner-main__catalog-sorting__arrow:active {
    border-color: #ee3643;
    border-right-color: transparent;
    border-left-color: transparent;
}

.inner-main__catalog-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;

    font-size: 0;
}

.inner-main__catalog-item,
.main-popular__catalog-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    border: 1px solid #e5e5e5;

    width: 218px;
    margin-bottom: 20px;
    margin-right: 20px;

    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.inner-main__catalog-item:nth-child(3n) {
    margin-right: 0;
}

.main-popular__catalog-item:last-child{
    margin-right: 0;
}

.catalog-item__flag-new {
    margin: 0;
    padding: 0;

    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;
}

.catalog-item__actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.catalog-item__action-buy,
.catalog-item__action-bookmark {
    display: block;
    width: 135px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 10px 0;
    
    background-color: #63a63e;
    border-radius:3px;
  
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-item__action-buy {
    position: relative;
    box-shadow: inset 0px -3px 0 0 #367315;
}

.catalog-item__action-bookmark {
    width: 129px;
    padding: 7px 0;

    color: #32425c;
    background: white;
    border: solid 3px #63a63e;
}

.catalog-item__action-buy:hover{
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

.catalog-item__action-buy:focus {
    background-color: #518534;
}

.catalog-item__action-bookmark:hover {
    border: solid 3px #32425c;
}

.catalog-item__action-bookmark:focus {
    color: rgba(50, 66, 92, 0.3);
    opacity: 0.3;
    border: solid 3px #32425c;
}

.catalog-item__actions {
    display: none;
}

.inner-main__catalog-item:hover,
.main-popular__catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}


.inner-main__catalog-item:hover .catalog-item__actions,
.main-popular__catalog-item:hover .catalog-item__actions {
    display: block;
}

.catalog-item__image {
    margin: 0;

    width: 218px;
    height: 170px;
}

.catalog-item__name {
    min-height: 40px;
    padding: 0 32px;
    margin: 10px auto; 

    font-size: 18px;
}

.catalog-item__link {
    color: #000000;
}

.catalog-item__price {
    min-height: 20px;
    margin: 10px auto;

    font-size: 17px;
    line-height: 18px;
    color: #999999;
    text-decoration: line-through;
}

.catalog-item__new-price{
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;

    font-size: 17px;
    line-height: 18px; 
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.catalog-item__new-price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 19px solid white;
    border-left-color: #ee3643;
}

.inner-main__pagination-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 60px;
    margin-left: 240px;

    font-family: "PTSana", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.inner-main__pagination-item {
    margin-right: 10px;
}

.inner-main__pagination-item:last-child {
    margin-right: 0;
}

.inner-main__pagination-item__link {
    display: block;
    padding: 9px 15px;

    border: 1px solid #e5e5e5;
    border-radius: 2px;
    font: inherit;
    color: #000000;
}

.inner-main__pagination-item__link:hover {
    border-color: #bdc6ca;
}

.inner-main__pagination-item__link:focus,
.inner-main__pagination-item__link:active {
    border-color: #ee3643;
}

.inner-main__pagination-item__link-current {
    color: #ffffff;
    background-color: #ee3643;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inner-main__pagination-item__link-next {
    padding: 9px 30px;
    text-transform: uppercase;
}

.inner-main__description {
    padding-top: 65px;
    padding-bottom: 70px;
    background-color: #f4f7f9;
}

.inner-main__description-title {
    margin: 0;
    margin-bottom: 30px;

    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;

}

.inner-main__description-text {
    margin: 0;

    font-family: "PTSans", Arial, sans-serif;
    white-space: pre-line;
}

.footer {
    margin-top: 85px;
}

.footer-top .container {
    position: relative;
}

.footer-top .container {
    display: flex;
    flex-direction: column;
}

.footer-top {
    background-color: #32425c;
    font-size: 18px;
}

.footer-top__logo {
    position: absolute;
    top: 0;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;

    width: 138px;
    padding-top: 20px;
    padding-right: 41px;
    padding-bottom: 25px;
    padding-left: 41px;
}

.footer-top__logo-navigation {
   padding: 37px 0;
}

.footer-top__contacts-navigation{
    display: flex;
    justify-content: space-between;

    padding-bottom: 49px;
}

.footer-top__contacts,
.footer-bottom__copyright {
    margin: 0;
}

.navigation-footer__items {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.footer-top__phone-link {
    color: #f3f7f9;
}

.navigation-footer__link {
    color: #f3f7f9;
    padding-left: 60px;
}

.navigation-footer__link-color{
    color: #ffd180;
}

.navigation-footer__link:hover {
    text-decoration: underline;
}

.navigation-footer__link:focus {
    opacity: 0.5;
    text-decoration: none;
}

.footer-bottom {
    background-color: #293449;
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer-bottom .container {
    display: flex;
}

.footer-bottom__copyright {
    margin: 0;

    font-size: 16px;
    line-height: 18px;

    width: 300px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom__copyright-item {
    padding-right: 10px;
}

.footer-bottom__social-link {
    display: flex;
    flex-wrap: wrap;

    margin-left: 90px;
    margin-right: 110px;

    width: 145px;
}

.social-link__item {
    width: 42px;
    height: 42px;

    background-color: #212a3a;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 5px;
}

.social-link__item:hover,
.social-link__item:focus {
    background-color: #ee3643;
}

.social-link__vk {
    width: 26px;
    height: 15px;

    background-image: url(../img/vk-icon.svg);
}

.social-link__fb {
    width: 12px;
    height: 22px;

    background-image: url(../img/fb-icon.svg);
}

.social-link__insta {
    width: 21px;
    height: 21px;

    background-image: url(../img/insta-icon.svg);
}

.footer-bottom__copyright-link { 
    color: #ffd180;
}

.footer-bottom__copyright-text {
    margin: 0;
}

.footer-bottom__copyright-link:hover {
    text-decoration: underline;
}

.footer-bottom__copyright-link:focus {
    text-decoration: none;
    color: #ee3643;
}

.modal {
    position: fixed;
    display: none;
    
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

@keyframes bounce {
    0% {
        transform: scale3d(0.1,0.1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
    55% {
        transform: scale3d(1.08,1.08,1);
        box-shadow: 0 10px 20px rgba(0,0,0,0);
    }
    70% {
        transform: scale3d(0.95,0.95,1);
        box-shadow: 0 0 20px rgba(0,0,0,0.9);
    }
    100% {
        transform: scale3d(1,1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
        
}

.show-feedback {
    display: block;

    animation: bounce 0.6s;
}

.modal-show {
    display: block;
}

.modal-feedback {
    right: 0;
    left: 0;
    bottom: 200px;

    margin: auto;

    width: 460px;
    padding: 0 80px;

    font-family: "Cuprum", Arial, sans-serif;

    z-index: 2000;
}

.modal-feedback:before,
.modal__product-in-cart:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0px;

    width: 620px;
    height: 7px;

    background-color: #ff5358;
}

.modal-close {
    position: absolute;
    top:9px;
    right: 9px;

    width: 22px;
    height: 22px;
  
    font-size: 0;
  
    background-color: transparent;
    border: 0;
  
    cursor: pointer;
    z-index: 3;
}

.modal-close:before,
.modal-close:after {
    content: "";

    position: absolute;
    top: 10px;
    left:-9px;

    width: 27px;
    height: 5px;

    background-color: #ee3643;
}

.modal-close:before {
    transform: rotate(45deg);
}
  
.modal-close:after {
    transform: rotate(-45deg);
}

.modal-feedback__form-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-feedback__form-item {
    margin: 0;

    width: 220px;
    padding-bottom: 21px;
    padding-top: 46px;
}

.modal-feedback__form-item__textarea {
    margin: 0;

    width: 460px;
    padding-bottom: 37px;
}

.modal-feedback__form-label {
    display: block;

    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.modal-feedback__form-input {
    width: 186px; 
}

.modal-feedback__form-textarea {
    width: 426px;

    resize: none;
}

.modal-feedback__form-input,
.modal-feedback__form-textarea {
    font-family: "PTSana", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;

    margin-top: 13px;
    padding: 8px 15px;
    border: solid 2px #dee3e4;
}

.modal-feedback__form-input:hover,
.modal-feedback__form-textarea:hover {
    border-color: #b5b5b5;
}

.modal-feedback__form-input:focus,
.modal-feedback__form-textarea:focus,
.modal-feedback__form-input:active,
.modal-feedback__form-textarea:active {
    border-color: #ee3643;
}

.modal-feedback__form-button__wrapper,
.modal__product-in-cart__buttons-wrapper {
    margin-left: -80px;

    width: 460px;
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.modal-feedback__form-button {
    width: 100%;
}

.modal-feedback__form-button,
.modal__product-in-cart__button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ff5358;
}

.modal-map {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    margin: auto;

    width: 940px;
    height: 446px;

    z-index: 2000;
}

.modal-map__iframe {
    position: relative;
    z-index: 2;

    border: none;
}

.modal-map__image {
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal__product-in-cart {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    width: 460px;
    height: 276px;
    padding: 0 80px;

    font-family: "Cuprum", Arial, sans-serif;

    z-index: 200;
}

.modal__product-in-cart__text {
    position: relative;

    display: inline-block;
    vertical-align: middle;
    margin: 0;

    width: 357px;
    padding: 67px 5px 67px 98px;

    font-size: 30px;
    line-height: 30px;
}

.modal__product-in-cart__text:before {
    content: "";

    position: absolute;
    top: 48px;
    left: 0;

    width: 64px;
    height: 64px;
    border: 1px solid #63a63e;
    border-radius: 100%;

    background-color: #63a63e;
}

.modal__product-in-cart__text:after {
    content: "";

    position: absolute;
    top: 68px;
    left: 18px;

    width: 28px;
    height: 14px;

    border-left: 6px solid #ffffff;
    border-bottom: 6px solid #ffffff;
    transform: rotate(-45deg);
}

.modal__product-in-cart__buttons {
    display: flex;
    justify-content: space-between;
}

.modal__product-in-cart__button {
    width: 220px;  
}

.modal__product-in-cart__button-continue {
    color: #000000;
    background-color: #ffffff;
}










